<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Flask + Tailwind CSS</title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
        <script>
            const button = document.querySelector('#menu-button');
            const menu = document.querySelector('#menu');
            button.addEventListener('click', () => {
                 menu.classList.toggle('hidden');
            });
        </script>
  </body>
</html>